[Desktop Entry]
Name=Cosmic Monitor
Comment=Monitor system resources
Type=Application
Icon=com.zachvlat.cosmic-monitor
Exec=cosmic-monitor
Terminal=false
StartupNotify=true
Categories=System;Monitor;
Keywords=System;Monitor;CPU;Memory;
