[Desktop Entry]
Name=Cosmicfetch
Comment=Monitor system resources
Type=Application
Icon=com.zachvlat.cosmicfetch
Exec=cosmicfetch
Terminal=false
StartupNotify=true
Categories=System;Monitor;
Keywords=System;Monitor;CPU;Memory;
